<section class="bg-light p-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="bg-white rounded">
                    <h5 class="py-2 px-3 border-bottom">Device Status</h5>
                    <div class="img-sec mt-4 mb-2">
                        <svg width="150" height="150" viewBox="0 0 150 150" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="150" height="150" fill="#D9D9D9"/>
                            </svg>
                            
                    </div>
                    <div class="content-sec">
                        <div class="devices-counter px-4">
                            <p class="small mb-0">Top 3 frequently used devices</p>
                            <ul class="p-0">
                                <li><span class="circle"></span> <span class="number">60</span> Vivlytic one</li>
                                <li><span class="circle"></span> <span class="number">60</span> Vivlytic one</li>
                                <li><span class="circle"></span> <span class="number">60</span> Vivlytic one</li>
                                <li><span class="circle"></span> <span class="number">60</span> Vivlytic one</li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
           
        </div>
    </div>
</section>

